.listing{
    position: relative;
    width: 500px;
    height: 300px;
}
.listingCont{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("/img/roller.jpg");
        background-color: black;
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
    /* font-family: "Lato Regular"; */
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px auto 80px;
}

.aboutContainer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 60px;
    width: 100vw;
}

.aboutContent {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding: 0px 0;
    margin-left: auto;
    margin-right: auto;
}

.casinoInMetaverse {
    width: 350px;
}

.abouth4 {
    font-family: "Lato Regular", san-serif;
    color: #fff;
    margin-top: 10px;
}

.container p {
    font-family: "Lato Regular",
        san-serif;
    color: #fff;
}

.buttonGrp {
    margin-top: 20px;
}

.join,
.whitepaper {
  font-family: "BigNoodle Titling",
  sans-serif;
    font-size: 18px;
    border: 2px solid #cca354;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    background: #cca354;
    color: #000;
    margin: 10px 10px 10px 0;
    text-transform: uppercase;
}

.sandbox {
    width: 80%;
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
     /* display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin: 60px auto 0 ; */
}

.sandboxLeft {
    width: 45%;
}

.sandboxRight {
    width: 45%;
    color: whitesmoke;
    font-family: "Lato Regular",
        san-serif;
}

.sandboxImg {
    width: 100%
}

.wwdcontainer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/img/black.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    color: whitesmoke;
    width: 100vw;
    /* display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-between;
    align-items: center !important; */
     /* display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0px 0;
     margin-left: auto;
     margin-right: auto; */
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       margin: 0 auto;
       padding: 60px 0 60px;
    /* height: 100vh; */
}

.wwd {
    width: 80%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0 auto; */
    padding: 60px auto;
    margin-left: auto;
    margin-right: auto;
}


.card {
    margin-top: 30px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    background: black;
    width: 260px;
    height: 270px;
    text-align: center;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 30px; */
}

.card .wwdTitle {
    margin-bottom: 0;
    font-weight: bold;
    color: #cca354;
    font-family: "Casino", "Lato Regular";
    letter-spacing: 2px;
}

.card h4 {
    margin-top: 10px;
    color: inherit;
    font-family: "Lato Regular";
    font-weight: 400;
}

.partnership {
    background: #000;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.partrow {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partLeft,
.partRight {
    width: 45%;
}

.partLeftimg {
    width: 100%;
}

.partnership h3 {
    font-size: 30px;
    font-family: "Casino";
     color: #cca354;
}

.partnership h4 {
    font-family: "Lato Regular";
   color: whitesmoke;
}

.partnership p {
    color: whitesmoke;
    margin-bottom: 20px;
}

@media only screen and (max-width: 282px) {
    .casinoInMetaverse {
        width: 150px !important;
    }
    .partnership {
        text-align: left !important;
    }
}
@media only screen and (max-width: 365px) {
    .casinoInMetaverse {
        width: 200px !important;
    }
}
@media only screen and (max-width: 480px) {
    .listing {
        position: relative;
        width: 80vw;
        height: 200px;
    }
.container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("/img/roller.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    /* font-family: "Lato Regular"; */
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px auto 80px;
}

.aboutContainer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 60px;
    width: 100vw;
}

.aboutContent {
    max-width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center !important;
}

.casinoInMetaverse {
    width: 250px;
}

.abouth4 {
    font-family: "Lato Regular", san-serif;
    color: #fff;
    margin-top: 10px;
}

.container p {
    font-family: "Lato Regular",
        san-serif;
    color: #fff;
}

.buttonGrp {
    margin-top: 20px;
}

.join,
.whitepaper {
    font-family: "BigNoodle Titling",
        sans-serif;
    font-size: 16px;
    border: 2px solid #cca354;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    background: #cca354;
    color: #000;
    margin: 10px 10px 10px 0;
    text-transform: uppercase;
}

.sandbox {
    width: 80vw;
    /* height: 300px; */
    display: flex;
    flex-direction: column !important;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 60px;
    text-align: center;
}

.sandboxLeft {
    width: 100%;
}

.sandboxRight {
    width: 100%;
    color: whitesmoke;
    font-family: "Lato Regular",
        san-serif;
        text-align: center;
}

.sandboxImg {
    width: 100%
}

.wwdcontainer {
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
     url("/img/black.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-between;
    align-items: center !important;
    padding: 0 auto !important;
    /* height: 100vh; */
}

.wwd {
    width: 80%;
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 auto;
    padding: 0px 0 !important;
    margin-left: auto;
    margin-right: auto;
}


.card {
    margin-top: 30px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    background: black;
    width: 260px;
    height: 270px;
    text-align: center;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 30px; */
}

.card .wwdTitle {
    margin-bottom: 0;
    font-weight: bold;
    color: #cca354;
    font-family: "Casino", "Lato Regular";
    letter-spacing: 2px;
}

.card h4 {
    margin-top: 10px;
    color: inherit;
    font-family: "Lato Regular";
    font-weight: 400;
}

.partnership {
    background: #000;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 50px auto;
}

.partrow {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.partLeft,
.partRight {
    width: 100%;
    text-align: center;
}

.partLeftimg {
    width: 100%;
}

.partnership h3 {
    font-size: 30px;
    font-family: "Casino";
    color: #cca354;
}

.partnership h4 {
    font-family: "Lato Regular";
    color: whitesmoke;
}

.partnership p {
    color: whitesmoke;
    margin-bottom: 20px;
    text-align: left;
}
}
@media only screen and (max-width: 768px) {
    .container {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
            url("/img/roller.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        /* font-family: "Lato Regular"; */
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px auto 80px;
    }

    .aboutContainer {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        margin-bottom: 50px;
        padding-top: 60px;
        width: 100vw;
    }

    .aboutContent {
        max-width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }

    .casinoInMetaverse {
        width: 350px;
    }

    .abouth4 {
        font-family: "Lato Regular", san-serif;
        color: #fff;
        margin-top: 10px;
    }

    .container p {
        font-family: "Lato Regular",
            san-serif;
        color: #fff;
    }

    .buttonGrp {
        margin-top: 20px;
    }

    .join,
    .whitepaper {
        font-family: "BigNoodle Titling",
            sans-serif;
        font-size: 16px;
        border: 2px solid #cca354;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
            0 0 16px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
            0 0 16px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
            0 0 16px rgba(0, 0, 0, 0.1);
        padding: 10px 10px;
        background: #cca354;
        color: #000;
        margin: 10px 10px 10px 0;
        text-transform: uppercase;
    }

    .sandbox {
        width: 80vw;
        /* height: 300px; */
        display: flex;
        flex-direction: column !important;
        /* justify-content: space-between; */
        align-items: center;
        margin-top: 60px;
        text-align: center;
    }

    .sandboxLeft {
        width: 100%;
    }

    .sandboxRight {
        width: 100%;
        color: whitesmoke;
        font-family: "Lato Regular",
            san-serif;
        text-align: center;
    }

    .sandboxImg {
        width: 100%
    }

    .wwdcontainer {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
            url("/img/black.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        color: whitesmoke;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center !important;
        justify-content: center;
        align-items: center !important;
        padding: 0 auto;
        /* height: 100vh; */
    }

    .wwd {
        width: 80%;
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        padding: 0 auto;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 auto;
        padding: 60px 0;
        margin-left: auto;
        margin-right: auto;
    }


    .card {
        margin-top: 30px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
            0 0 16px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
            0 0 16px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
            0 0 16px rgba(0, 0, 0, 0.1);
        padding: 10px 15px;
        background: black;
        width: 260px;
        height: 270px;
        text-align: center;
        color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin: 0 30px; */
    }

    .card .wwdTitle {
        margin-bottom: 0;
        font-weight: bold;
        color: #cca354;
        font-family: "Casino", "Lato Regular";
        letter-spacing: 2px;
    }

    .card h4 {
        margin-top: 10px;
        color: inherit;
        font-family: "Lato Regular";
        font-weight: 400;
    }

    .partnership {
        background: #000;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        padding: 50px auto;
    }

    .partrow {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .partLeft,
    .partRight {
        width: 100%;
        text-align: center;
    }

    .partLeftimg {
        width: 100%;
    }

    .partnership h3 {
        font-size: 30px;
        font-family: "Casino";
        color: #cca354;
    }

    .partnership h4 {
        font-family: "Lato Regular";
        color: whitesmoke;
    }

    .partnership p {
        color: whitesmoke;
        margin-bottom: 20px;
        text-align: left;
    }
}
/* @media only screen and (max-width: 768px) {
    .container {
        background: #fff;
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .sandbox {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center !important;
        margin-bottom: 40px;
        width: 80vw;
    }

    .rightside {
        width: 60vw;
        align-items: center;
    }

    .container img {
        width: 100%;
    }

    .landcoor {
        color: inherit;
        margin-top: 5px;
        text-align: center;
    }

    .leftsideh3 {
        color: inherit;
        width: 80vw !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .sandbox h3 {
        color: inherit;
        font-size: 30px;
        font-weight: 800;
        width: 80vw;
    }

    .sandbox .leftside p {
        color: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        width: 80vw;
    }

    .wwdcontainer {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: space-between;
        height: auto;
    }

    .wwd {
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 auto;
        padding: 0px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .partnership {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .partrow {
        width: 80vw;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        align-items: center;
    }

    .part1,
    .part2 {
        width: 80vw;
    }

    .coordinate {
        background: #01ADEF;
        border-radius: 10px;
        padding: 7px 5px;
        width: 100% !important;
        color: white !important;
        font-size: 16px !important;
        text-align: center;
        margin-bottom: 0;
    }
}
/*  
@media only screen and (max-width: 1024px) {
    .container {
        background: #fff;
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .sandbox {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center !important;
        margin-bottom: 40px;
        width: 80vw;
    }

    .rightside {
        width: 60vw;
        align-items: center;
    }

    .container img {
        width: 100%;
    }

    .landcoor {
        color: inherit;
        margin-top: 5px;
        text-align: center;
    }

    .leftsideh3 {
        color: inherit;
        width: 80vw !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .sandbox h3 {
        color: inherit;
        font-size: 30px;
        font-weight: 800;
        width: 80vw;
    }

    .sandbox .leftside p {
        color: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        width: 80vw;
    }

    .wwdcontainer {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: space-between;
        height: auto;
        margin-botton: 30px;
    }

    .wwd {
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 auto;
        padding: 0px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .partnership {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .partrow {
        width: 80vw;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        align-items: center;
    }

    .part1,
    .part2 {
        width: 80vw;
    }

    .coordinate {
        background: #01ADEF;
        border-radius: 10px;
        padding: 7px 5px;
        width: 100% !important;
        color: white !important;
        font-size: 16px !important;
        text-align: center;
        margin-bottom: 0;
    }
} */