.container {
    position: relative;
    background: no-repeat linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/img/man.jpg");
    background-position: center;
    background-size: contain;
    font-size: 10px;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: -80px;
    padding-top: 100px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 80vw;
    padding: 0 auto;
}

.aboutHeading {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.aboutText {
    color: whitesmoke;
    font-family: 'Titillium Web',
        sans-serif;
    font-weight: 400;
    font-size: 2em;
    width: 80%;
    text-align: center;
    line-height: 30px;
}
.downloadWhitePaper {
    background: black;
    text-decoration: none !important;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 0 10px;
    border-radius: 30px;
    border: 2px solid #cca354;
    color: whitesmoke;
    background: #cca354;
    color: black;
    font-size: 1.2rem;
    font-family: "Casino";
    transition: 0.4s;
}

.downloadWhitePaper:hover {
    background: black;
     color: whitesmoke;
}
.join {
    background: black;
    text-decoration: none !important;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 0 50px;
    border-radius: 30px;
    border: 2px solid #cca354;
    color: whitesmoke;
    font-size: 1.2rem;
    font-family: "Casino";
    transition: 0.4s;
}

.join:hover {
    background: #cca354;
    color: black;
}

.mus {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
    padding: 50px 0 50px;
    border: 3px solid #cca354;
    width: 1000px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgb(204 163 84 / 50%);

}

.mus h4 {
    font-size: 30px;
    font-family: "casino";
    color: #cca354;
    margin-bottom: 10px;
}

.mus p {
    font-size: 2em;
    font-family: 'Titillium Web',
        sans-serif;
    max-width: 700px;
}
.socialsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 70px;
    width: 100%;
    color: white;
}
.socialsSection h3{
     font-size: 30px;
     font-family: "casino";
     color: #cca354;
     margin-bottom: 10px;
     text-align: center;
}
.socialsSection .socialsFlex{
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.socialsSection .socials {
    font-size: 30px;
}
.partnership {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap !important; */
    width: 1000px;
    height: 300px;
    margin-bottom: 170px;
    color: whitesmoke;
     line-height: 30px;
}

.collaboration {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap !important; */
    width: 1000px;
    height: 360px;
    margin-bottom: 30px;
    color: whitesmoke;
     line-height: 30px;
}

.partnership img {
    width: 320px;
    height: 320px;
}

.collaboration img {
    width: 350px;
    height: 320px;
}

.partnership h4,
.collaboration h4 {
    font-size: 30px;
    font-family: "Casino";
    color: #cca354;
    margin: 0;
}

.partnership .partnership_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    width: 550px;
    height: 330px;
}

.collaboration .collaboration_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    width: 550px;
    height: 330px;
}

.partnership .partnership_text p,
.collaboration_text p {
    font-size: 2em;
    font-family: 'Titillium Web',
        sans-serif;
}

.strategyText {
    margin-bottom: 50px;
}

.aboutText span,
.strategyText h3 {
    color: #cca354;
    ;
}

.stategicPart {
    margin-bottom: 200px;
    /* margin-top: */
}

.wearingSmartGlass {
    position: absolute;
    top: 850px;
    left: 0;
    width: 1500px;
    height: 800px;
    opacity: 10%;
}


@media only screen and (max-width: 480px) {
    .container {
        position: relative;
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/img/vr.jpg");
        background-color: black;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 10px;
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin-top: 0px !important;
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        width: 80vw;
        padding: 0 auto;
    }
.aboutHeading {
    width: 100%;
    /* height: 200px; */
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
    .aboutText {
        color: whitesmoke;
        font-family: 'Titillium Web',
            sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        line-height: 30px;
    }

    .mus {
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        text-align: center;
        padding: 50px 30px 50px;
        border: 3px solid #cca354;
        width: 100%;
        margin:50px auto 10px;
        box-shadow: 0 0 15px rgb(204 163 84 / 50%);

    }

    .mus h4 {
        font-size: 20px;
        font-family: "casino";
        color: #cca354;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .mus p {
        font-size: 1rem;
        font-family: 'Titillium Web',
            sans-serif;
        max-width: 700px;
    }

    .partnership,
    .collaboration {
        background-color: transparent;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between;
        align-items: center ! important;
        width: 80vw;
        padding: auto;
        height: 600px;
        margin-bottom: 200px;
        color: whitesmoke;
    }

    .partnership .partnership_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        width: auto;
        height: 330px;
    }

    .partnership .partnership_text p,
    .collaboration .collaboration_text p {
        font-size: 1.2rem;
        font-family: 'Titillium Web',
            sans-serif;
    }

    .partnership img,
    .collaboration img {
        width: 320px;
        height: 320px;
        margin-bottom: 30px;
    }

    .partnership h4,
    .collaboration h4 {
        font-size: 25px;
        font-family: "Casino";
        color: #cca354;
        margin: 0;
        text-align: center;
    }

    .collaboration .collaboration_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        width: auto;
        height: 330px;
    }
}
/* @media only screen and (max-width: 768px) {
      .partnership,
      .collaboration {
          background-color: transparent;
          display: flex !important;
          flex-direction: column !important;
          justify-content: space-between;
          align-items: center ! important;
          width: 80vw;
          padding: auto;
          height: 600px;
          margin-bottom: 200px;
          color: whitesmoke;
      }
} */