.container {
    width: 100vw;
    height: 120vh;
    margin-top: -80px;
    margin-bottom: 0px;
    box-sizing: border-box;
    width: contain;
    height: contain;
    background: linear-gradient(0deg, rgba(59, 11, 60, 0.6), rgba(59, 11, 60, 0.6)),
        url("/img/HeroBg.jpg");
    mix-blend-mode: normal;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-origin: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.col2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
    text-align: center;
    margin-top: 130px;
}

/* .metasinoLogo {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
} */


.welcomeTo {
    width: 130px;
    margin-bottom: 18px;
    padding: 0;
}

.metasinoTxt {
    width: 450px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

.content {
    width: 50%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderWrapper {
    font-size: 25px;
    font-family: "BigNoodle Titling", sans-serif;
    color: #aaa;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 70px;
    padding-left: 15px;
    overflow: hidden;
    text-align: center;
}

.slider div {
    color: #fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
}

.sliderText1 {
    animation: slide 5s linear infinite;
}


@keyframes slide {
    0% {
        margin-top: -300px;
    }

    5% {
        margin-top: -200px;
    }

    33% {
        margin-top: -200px;
    }

    38% {
        margin-top: -100px;
    }

    66% {
        margin-top: -100px;
    }

    71% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

 .downArrow {
     display: block;
     /* color: #fff; */
     width: 25px;
     /* padding-top: 160px; */
     animation: bounce 3s infinite;
     -moz-animation: bounce 3s infinite;
     -webkit-animation: bounce 3s infinite;
 }

 @-webkit-keyframes bounce {

     0%,
     20%,
     50%,
     80%,
     100% {
         -moz-transform: translateY(0);
         -ms-transform: translateY(0);
         -webkit-transform: translateY(0);
         transform: translateY(0);
     }

     40% {
         -moz-transform: translateY(-20px);
         -ms-transform: translateY(-20px);
         -webkit-transform: translateY(-20px);
         transform: translateY(-20px);
     }

     60% {
         -moz-transform: translateY(-10px);
         -ms-transform: translateY(-10px);
         -webkit-transform: translateY(-10px);
         transform: translateY(-10px);
     }
 }

 @keyframes bounce {

     0%,
     20%,
     50%,
     80%,
     100% {
         -moz-transform: translateY(0);
         -ms-transform: translateY(0);
         -webkit-transform: translateY(0);
         transform: translateY(0);
     }

     40% {
         -moz-transform: translateY(-20px);
         -ms-transform: translateY(-20px);
         -webkit-transform: translateY(-20px);
         transform: translateY(-20px);
     }

     60% {
         -moz-transform: translateY(-10px);
         -ms-transform: translateY(-10px);
         -webkit-transform: translateY(-10px);
         transform: translateY(-10px);
     }
 }

@media only screen and (max-width: 768px) {
    .metasinoLogo {
        display: none;
    }
    .downArrow {
        display: block;
        /* pointer-events: none; */
    }
    .col2{
        margin-top: 0px;
    }

    @keyframes change {
        0% {
            background-position: 0 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0 50%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin-bottom: 0px;
        margin-top: 0 !important;
        padding-top: 100px;
        box-sizing: border-box;
        background: linear-gradient(0deg, rgba(59, 11, 60, 0.6), rgba(59, 11, 60, 0.6)),
            url("../public/img/HeroBg.jpg");
        mix-blend-mode: normal;
        background-repeat: no-repeat;
        background-color: black;
        background-size: cover;
        background-origin: border-box;
    }

    .col2 {
        margin-top: 200px;
    }

    .metasinoLogo {
        width: 50px;
        height: 50px;
        margin-bottom: 25px;
    }

    .welcomeTo {
        width: 100px;
        margin-bottom: 10px;
        padding: 0;
    }

    .metasinoTxt {
        width: 300px;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 0;
    }

    .content {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
            font-family: "BigNoodle Titling",
            sans-serif;
    }

    .sliderWrapper {
        font-size: 1rem;
        font-family: "BigNoodle Titling",
        sans-serif;
        color: #aaa;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider {
        height: 70px;
        padding-left: 15px;
        overflow: hidden;
        text-align: center;
    }

    .slider div {
        color: #fff;
        height: 50px;
        margin-bottom: 50px;
        padding: 2px 15px;
        text-align: center;
        box-sizing: border-box;
    }

    .sliderText1 {
        animation: slide 5s linear infinite;
    }

    @keyframes slide {
        0% {
            margin-top: -300px;
        }

        5% {
            margin-top: -200px;
        }

        33% {
            margin-top: -200px;
        }

        38% {
            margin-top: -100px;
        }

        66% {
            margin-top: -100px;
        }

        71% {
            margin-top: 0px;
        }

        100% {
            margin-top: 0px;
        }
    }

}
