.container {
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-origin: border-box;
    width: 100vw;
    height: 120vh;
    margin-top: -80px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.metasino{
    width: 340px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1200px;
    height: 100%;
    margin-top: 180px;
    z-index: 5;
}

.container .flex h2 {
    font-size: 65px;
    margin-top: 0;
    margin-bottom: 0px;
}

.container input {
    border: 5px solid white;
    border-radius: 5px;
    -webkit-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px 10px 0;
    font-size: 18px;
}

.container .copy,
.success {
    border: 2px solid white;
    border-radius: 5px;
    -webkit-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    background: #240b36;
    color: white;
    margin: 0 10px 10px 0;
}

.container .success {
    background: green;
}

.container .presale,
.telegram {
    border: 2px solid white;
    border-radius: 5px;
    -webkit-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    background: #240b36;
    color: white;
    margin: 10px 10px 10px 0;
}


.section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    z-index: 5;
}

.section1 {
    width: 50%;
}

.section2 {
    z-index: 5;
}

.container video {
    width: 100%;
}

.container .firstdice {
    position: absolute;
    width: 390px;
    height: 437px;
   right: 0px;
   top: 342px;
    /* filter: blur(4px); */
}

.container .seconddice {
    position: absolute;
    width: 390px;
    height: 437px;
    left: 0px;
    top: 342px;
    filter: blur(4px);
}

.col2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin-bottom: 0px;
        margin-top: 0 !important;
        padding-top: 80px;
        box-sizing: border-box;
        background: linear-gradient(0deg, rgba(59, 11, 60, 0.6), rgba(59, 11, 60, 0.6));
        mix-blend-mode: normal;
        background-repeat: no-repeat;
        background-color: black;
        background-size: cover;
        background-origin: border-box;
    }
    .metasino {
        width: 200px;
        text-align: center;
    }
.flex {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    height: 100%;
    margin-top: 150px;
    z-index: 5;
 text-align: center;
}
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 82vw !important;
     text-align: center;
    z-index: 5;
}
.section2 {
    z-index: 5;
    width: 100vw;
}
.container .firstdice {
    position: absolute;
    width: 90px;
    height: 90px;
    right: 0px;
    top: 342px;
    filter: blur(4px);
}
.container .seconddice {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 642px;
    filter: none;
}
.container video {
    display: none;
}
}