    .container {
        /* background: repeat linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
            url("/img/Emporium.jpg"); */
        background-position: center;
        background-size: contain;
        background-color: #000;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

    .col {
        position: static !important;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center !important;
        width: 80% !important;
        text-align: center;
    }

    .roadmapHeading {
        margin: 0px 0 50px;
        width: 100%;
    }

    .dates {
        margin-bottom: 10px !important;
    }

    .dates,
    .phaseCont {
        width: 300px;
        margin-bottom: 30px;
        text-align: center;
    }
    .columns{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
 @media only screen and (min-width: 769px) {
     .column1, .column3{
         margin-right: 400px;
     }
     .column2{
         margin-left: 400px;
     }
 }