.container {
    position: relative;
    background: #fff;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0;
    padding-bottom: 70px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    overflow: hidden;
}

.tokenomics {
    width: 1200px;
    z-index: 5;
}

.container img {
    z-index: 5;
}

.tokenomicstxt {
    position: absolute;
    font-size: 250px;
    color: rgba(98, 5, 155, 0.35);
    top: -250px;
    left: 0;
}

@media only screen and (max-width: 480px) {
    .container {
        padding-bottom: 0;
            padding-top: 0;
    }

    .tokenomics {
        width: 80vw;
        /* height: 500px; */
        z-index: 5;
    }

    .tokenomicstxt {
        position: absolute;
        font-size: 100px;
        color: rgba(98, 5, 155, 0.35);
        top: -100px;
        left: 0;
    }

    .container img {
        z-index: 5;
        width: 80vw;
    }
}
@media only screen and (max-width: 768px) {
        .container {
            padding-bottom: 0;
            padding-top: 0;
        }

        .tokenomics {
            width: 80vw;
            /* height: 500px; */
            z-index: 5;
        }

        .tokenomicstxt {
            position: absolute;
            font-size: 100px;
            color: rgba(98, 5, 155, 0.35);
            top: -100px;
            left: 0;
        }

        .container img {
            z-index: 5;
            width: 80vw;
        }
}